<div class="container-fluid">
   <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="row">
            <div class="col-md-12 col-sm-12">
               <div class="panel panel-primary">
                  <div class="panel-heading">{{ "assignedServices.form.TITLE" | translate }}</div>
                  <div class="panel-body">
                     <form class="form-horizontal">
                        <fieldset>
                           <div class="form-group">
                              <label class="col-md-2 control-label">{{ "assignedServices.form.label.VEHICLE" | translate }}</label>
                              <div class="col-md-6">
                                 <select chosen="" ng-model="vehicle" width="'100%'" class="chosen-select input-md">
                                    <option value=""></option>
                                    <option value="1">Narnia</option>
                                    <option value="2">Far Far Away</option>
                                    <option value="3">Asgard</option>
                                    <option value="4">Kripton</option>
                                 </select>
                              </div>
                              <div class="col-md-4">
                                 <button type="button" class="btn btn-oval btn-info">
                                    <span class="fa fa-plus-circle"></span>
                                 </button>
                                 <button type="button" class="btn btn-success">
                                    <span class="fa fa-upload"></span>
                                 </button>
                              </div>
                           </div>
                        </fieldset>
                        <fieldset>
                           <div class="form-group">
                              <label class="col-md-2 control-label">{{ "assignedServices.form.label.OBSERVATIONS" | translate }}</label>
                              <div class="col-md-6">
                                 <textarea name="observations" rows="4" placeholder="Observaciones aqui..." class="form-control"></textarea>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
                  <div class="panel-footer">
                     <div class="row text-center">
                        <button ng-click="submitForm()" class="btn btn-labeled btn-success">
                           <span class="btn-label"><i class="fa fa-check"></i>
                           </span>{{ "assignedServices.form.button.ASSIGN" | translate }}</button>
                        <button type="button" class="btn btn-labeled btn-danger">
                           <span class="btn-label"><i class="fa fa-times"></i>
                           </span>{{ "assignedServices.form.button.CANCEL" | translate }}</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>