@use 'variables' as v;
@use 'mixins' as m;


// Page wrapper
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  padding: 2rem;
  @include m.gradient-bg(
    mix(white, v.$primary, 40%),
    mix(white, v.$secondary, 40%)
  );
  @include m.flex-center;
}

// Authentication layouts
.auth-wrapper {
  @include m.flex-center;
  min-height: 100vh;
  @include m.gradient-bg(v.$primary, v.$secondary);
  padding: v.$spacer * 2;
}