#map
.container-fluid.floating-panel.right
  a.btn.btn-sm.btn-danger(ng-click="goToBack()") REGRESAR
  a.btn.btn-sm.btn-primary.pull-right.fa.fa-arrow-left.mr-sm(ng-hide="showingTab" ng-click="showTab()", toggle-state="offsidebar-open", no-persist, tooltip="{{ 'routes.LABEL.showRoutesInMap' | translate }}", tooltip-placement="bottom")