<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <label class="col-md-5 col-sm-4 control-label">Nombre del trayecto</label>
                        <div class="col-md-6 col-sm-6">
                            <select ng-model="journeys.current" ng-options="journey.name for journey in journeys.data" class="form-control input-sm"></select>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-hover wd-wide">
                                    <tbody>
                                        <tr>
                                            <td class="wd-xxs">#</td>
                                            <td>Avn siempre viva 123</td>
                                            <td>trayecto XX</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <spam>{x} visitas sin antender en {y} trayectos</spam>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>