<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12 col-md-12">
         <div class="panel panel-info">
            <div class="panel-heading">Ruta</div>
            <div class="panel-body">
               <div class="row">
                  <div class="col-sm-12 col-md-12">
                     <div class="map">
                        <div id="map"></div>
                     </div>
                  </div>
               </div>
               <br/>
            </div>
            <div class="panel-footer">
               <div class="row text-center">
                  <button type="button" ng-click="accept()" class="btn btn-labeled btn-success">
                     <span class="btn-label"><i class="fa fa-check"></i>
                     </span>Aceptar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>