<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Editar localizacion de direccion</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="map">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h4>Coordenadas actuales</h4>
                            <dl class="dl-horizontal">
                                <dt>Longitud:</dt>
                                <dd>{{ map.newCoordinates.longitude }}</dd>
                                <dt>Latitud:</dt>
                                <dd>{{ map.newCoordinates.latitude }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <button type="button" ng-click="save()" class="btn btn-labeled btn-success">
                            <span class="btn-label"><i class="fa fa-check"></i>
                            </span>Aceptar</button>
                        <button type="button" ng-click="reset()" class="btn btn-labeled btn-info">
                            <span class="btn-label"><i class="fa fa-circle"></i>
                            </span>Reset</button>
                        <button type="button" ng-click="cancel()" class="btn btn-labeled btn-danger">
                            <span class="btn-label"><i class="fa fa-times"></i>
                            </span>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>