<h3 class="mt-sm mb-sm lead">{{ Journey.name }}</h3>
<div>
    <div class="panel col-lg-12 clearfix pb">
        <div class="panel-heading">
            <div class="row mb-sm">
                <label class="col-sm-2 control-label text-right">{{ 'itinerary.START_POINT' | translate }}</label>
                <div class="col-sm-3">
                    <div ng-class="{&quot;has-error&quot;: place_required}" class="input-group">
                        <select name="place" ng-model="Journey.place" ng-options="place.name for place in places.data track by place.id" class="form-control input-sm"></select>
                        <span tooltip="{{ 'itinerary.LINKS.ADD_PLACE' | translate }}" tooltip-placement="bottom" ng-click="places.add()" class="input-group-addon input-sm btn-primary">
                            <em class="icon-plus"></em>
                        </span>
                    </div>
                    <span ng-show="place_required" class="text-danger">{{ "itinerary.validation.PLACE_REQUIRED" | translate }}</span>
                </div>
                <label class="col-sm-1 control-label text-right">{{ "itinerary.SETTINGS" | translate }}</label>
                <div class="col-sm-3">
                    <div ng-class="{&quot;has-error&quot;: setting_required}" class="input-group">
                        <select name="setting" ng-model="Journey.setting" ng-options="setting.description for setting in settings.data track by setting.id" class="form-control input-sm"></select>
                        <span tooltip="{{ 'itinerary.LINKS.ADD_SETTING' | translate }}" tooltip-placement="bottom" ng-click="settings.add()" class="input-group-addon input-sm btn-primary">
                            <em class="icon-plus"></em>
                        </span>
                    </div>
                    <span ng-show="setting_required" class="text-danger">{{ "itinerary.validation.SETTING_REQUIRED" | translate }}</span>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 control-label text-right">{{ "itinerary.STATE_VISIT" | translate }}</label>
                <div class="col-xs-6 col-sm-3">
                    <div class="input-group">
                        <select ng-model="statusFilter.current" ng-change="Itinerary.filter()" ng-options="status.name for status in statusFilter.data" class="form-control input-sm"></select>
                        <span tooltip="{{ 'itinerary.LINKS.FILTER' | translate }}" tooltip-placement="bottom" ng-click="Itinerary.filter()" class="input-group-addon input-sm btn-primary">
                            <em class="fa fa-filter"></em>
                        </span>
                    </div>
                </div>
                <label class="col-sm-1 control-label text-right">Fecha</label>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" datepicker-popup="{{format}}" ng-model="Journey.date" is-open="status.opened" datepicker-options="dateOptions" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" readonly="readonly" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="open($event)" class="btn btn-sm btn-default"><i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group m0 col-xs-6 col-sm-4">
                    <button type="button" ng-click="Itinerary.goToAdd()" class="btn btn-sm btn-default">
                        <span>
                            <em class="text-primary icon-plus"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                    </button>
                    <button type="button" ng-click="Itinerary.selectAll()" class="btn btn-sm btn-default">
                        <span>
                            <em class="text-primary icon-check"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                    </button>
                    <button type="button" ng-click="Itinerary.imprimirCsv()" class="btn btn-sm btn-default">
                        <span>
                            <em class="text-primary icon-arrow-down"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.SAVE' | translate }}</span>
                    </button>
                    <button type="button" ng-click="Itinerary.removeSelectedPakages()" class="btn btn-sm btn-default">
                        <span>
                            <em class="text-danger icon-trash"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body p0">
            <div class="table-responsive table-bordered">
                <table class="table table-hover wd-wide">
                    <tbody ng-model="Itinerary.data">
                        <td colspan="1" ng-show="Itinerary.data.length == undefined || Itinerary.data.length &lt; 1" class="height-lg">
                            <p class="text-center lead text-primary">{{ 'itinerary.NO_DATA' | translate }}</p>
                        </td>
                        <tr ng-repeat="item in Itinerary.data" ng-class="{true: 'active'}[item.check]">
                            <td class="wd-xxs">
                                <div class="checkbox c-checkbox m0">
                                    <label>
                                        <input type="checkbox" ng-model="item.check" />
                                        <span class="fa fa-check"></span>
                                    </label>
                                </div>
                            </td>
                            <td class="wd-xxs">
                                <em ng-class="{'MATCH':'icon-check text-success','UNMATCH':'icon-close text-danger','MEAN':'icon-check text-mean-geo','MANUAL':'icon-check text-manual-geo'}[item.statusGeocoding]"></em>
                            </td>
                            <td>
                                <div class="ph">
                                    <h4 class="media-heading">{{item.address}}</h4>
                                    <small ng-if="(item.status == true)" class="text-muted">{{item.latitude}}, {{item.longitude}}</small>
                                    <small ng-if="(item.status == false)" class="text-muted">{{ 'itinerary.ST_GEO_POINTS.NOT_FINDED' | translate }}</small>
                                    <br/>
                                    <small class="text-danger">{{ item.errorMessage }}</small>
                                </div>
                            </td>
                            <td class="wd-sm">
                                <div class="ph m0 text-muted visible-inline pull-right">
                                    <em tooltip="{{ 'itinerary.LINKS.MAP' | translate }}" tooltip-placement="bottom" ng-click="Itinerary.goToMap(item)" class="icon-map mr"></em>
                                    <em tooltip="{{ 'itinerary.LINKS.EDIT' | translate }}" tooltip-placement="bottom" ng-click="Itinerary.goToEdit(item)" class="icon-pencil mr"></em>
                                    <em tooltip="{{ 'itinerary.LINKS.DELETE' | translate }}" tooltip-placement="bottom" ng-click="Itinerary.removePackage(item)" class="icon-trash mr"></em>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row m">
                <div class="col-sm-6">
                    <button type="button" ng-click="Itinerary.routing()" data-loading-text="{{ 'itinerary.ROUTER' | translate }}" loading-status="true" class="mb-sm btn btn-primary button-loading">{{ 'itinerary.ROUTER' | translate }}</button>
                    <button type="button" ng-click="Itinerary.optimize()" class="mb-sm btn btn-default">{{ 'itinerary.OPTIMAZE' | translate }}</button>
                    <button type="button" ng-click="Itinerary.cancel()" class="mb-sm btn btn-danger">{{ 'app.CANCEL' | translate }}</button>
                </div>
                <div ng-hide="Itinerary.paginations.numPages == 1" class="col-lg-6">
                    <pagination total-items="Itinerary.paginations.totalItems" ng-model="Itinerary.paginations.currentPage" max-size="Itinerary.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="Itinerary.paginations.itemsPerPage" previous-text="‹"
                    next-text="›" num-pages="Itinerary.paginations.numPages" ng-change="Itinerary.changePage()" first-text="«" last-text="»" class="m0 pagination-sm pull-right"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>