.container-fluid
    .row
        .col-md-12.col-sm-12
            .row
                .col-md-12.col-sm-12
                    .panel.panel-primary
                        .panel-heading {{ "journeys.form.title" | translate }}
                        .panel-body
                            form.form-horizontal(role='form', name='journeyForm', novalidate)
                                fieldset
                                    .form-group.mb-lg
                                        label.col-md-1.control-label {{ "journeys.form.label.NAME" | translate }}
                                        .col-md-5(ng-class='{"has-error": name_required }')
                                            input.form-control(name='name', type='text', placeholder='Nombre', ng-model="journey.model.name", ng-change="journey_name()", required)
                                            span.text-danger(ng-show='name_required') {{ "journeys.form.validation.NAME_REQUIRED" | translate }}
                                    .form-group.mb-lg
                                        .col-md-6
                                            input.form-control(filestyle="", type='file', data-button-text="Seleccione su archivo", data-class-button='btn btn-default', data-classinput="form-control inline", nv-file-select='', uploader='uploader')
                                            div(ng-show='uploader.isHTML5')
                                                  div.drop-box(nv-file-drop='',nv-file-select='', uploader='uploader', style="margin-top:10px;")
                                                    span.lb-drop-here Arrastre su archivo aqui.
                                                    .height-sm.box-placeholder.text-center.lead.mb-xxl.my-drop-zone(nv-file-over='', nv-file-select='', uploader='uploader', over-class='bg-success') 
                                                      
                                                      .drop1-file-preview(ng-if='journey.model.file_prevw == true')
                                                        a.prev-close(ng-click='journey.cancelPreview()')
                                                          i.fa.fa-times
                                                        img.mt-sm(src="app/img/logo-single.png", alt="Ruteando")
                                                        span.name-file {{journey.model.file_name}}
                                                        span.size-file {{journey.model.file_size}} kb

                            
                            h4.page-header.mt0 {{ "journeys.form.helpText.TITLE" | translate }} 
                              a.ml-sm(ng-click="journey.goToHelp()") CLICK AQUÍ
                        .panel-footer
                            .row
                                .col-sm-4.col-sm-offset-3
                                    button.btn.btn-labeled.btn-success(ng-click='journey.goToManually()', ng-class="{'disabled': (journey.valid_try_upload == 0 || (journey.model.name == undefined) || journey.model.name == '') }")
                                        span.btn-label
                                            i.fa.fa-cloud-upload
                                        | {{ "journeys.form.label.LOAD" | translate }}
                                    button.btn.btn-labeled.btn-danger(ng-click='journey.cancel()')
                                        span.btn-label
                                            i.fa.fa-times
                                        | {{ "journeys.form.button.CANCEL" | translate }}
