<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">VEHICULO</div>
        <div class="panel-body">
            <form role="form" name="vehicleForm" novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                    <label for="input-id-1" class="col-md-2 control-label">{{ 'vehicles.LABEL.licensePlate' | translate }}</label>
                    <div ng-class="{ &quot;has-error&quot;: licencePlate_required }" class="col-md-4">
                        <input id="input-id-1" type="text" name="licencePlate" ng-model="vehicle.model.licencePlate" required="required" ng-minlength="6" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-id-2" class="col-md-2 control-label">{{ 'vehicles.LABEL.name' | translate }}</label>
                    <div ng-class="{ &quot;has-error&quot;: name_required }" class="col-md-4">
                        <input id="input-id-1" type="text" name="name" ng-model="vehicle.model.name" required="required" ng-minlength="2" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'vehicles.LABEL.vehicleType' | translate }}</label>
                    <div ng-class="{ &quot;has-error&quot;: vehicleType_required }" class="col-sm-4">
                        <div class="input-group">
                            <select name="vehicleType" ng-model="vehicleTypes.current" ng-options="vehicleType as vehicleType.name for vehicleType in vehicleTypes.data" ng-change="vehicle.setTypeResource(vehicleTypes.current)" required="required" class="form-control input-sm"></select>
                            <span tooltip="{{ 'vehicles.LINKS.ADD_VEHICLETYPES' | translate }}" tooltip-placement="bottom" ng-click="vehicleTypes.add()" class="input-group-addon input-sm btn-primary">
                                <em class="icon-plus"></em>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row text-center">
                <button type="button" ng-click="vehicle.save()" class="btn btn-labeled btn-success">
                    <span class="btn-label"><i class="fa fa-check"></i>
                    </span>{{ "app.ACEPT" | translate }}</button>
                <button ng-click="cancelForm()" class="btn btn-labeled btn-danger">
                    <span class="btn-label"><i class="fa fa-times"></i>
                    </span>{{ "app.CANCEL" | translate }}</button>
            </div>
        </div>
    </div>
</div>