<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ "address.form.TITLE" | translate }}</div>
                        <div class="panel-body">
                            <form role="form" name="addressForm" novalidate="novalidate" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="input-id-1" class="col-md-2 control-label">{{ "address.form.label.ADDRESS" | translate }}</label>
                                        <div class="col-md-6">
                                            <input type="text" name="address" required="required" ng-minlength="2" ng-model="address.model.address" class="form-control" />
                                            <span ng-show="addressForm.address.$dirty &amp;&amp; addressForm.address.$error.required" class="text-danger">{{ "address.form.validation.ADDRESS_REQUIRED" | translate }}</span>
                                            <span ng-show="addressForm.address.$dirty &amp;&amp; addressForm.address.$error.minlength" class="text-danger">{{ "address.form.validation.ADDRESS_LENGTH" | translate }}</span>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" tooltip="{{ &quot;address.form.tooltip.GEOCODING&quot; | translate }}" tooltip-placement="bottom" ng-click="address.geocoding()" class="btn btn-primary">
                                                <span class="icon-pencil"></span>
                                            </button>
                                            <button typed="button" ng-click="address.goToMap()" tooltip="{{ &quot;address.form.tooltip.MAP&quot; | translate }}" tooltip-placement="bottom" class="btn btn-success">
                                                <span class="icon-map"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.TIME_OF_STAY" | translate }}</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="number" name="lengthOfStay" required="required" ng-model="address.model.lengthOfStay" min="1" class="form-control" />
                                                <span class="input-group-addon">min</span>
                                            </div>
                                            <span ng-show="addressForm.lengthOfStay.$dirty &amp;&amp; addressForm.lengthOfStay.$error.required" class="text-danger">{{ "address.form.validation.LENGTH_OF_STAY_REQUIRED" | translate }}</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.WEIGHT" | translate }}</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="number" name="wigth" required="required" ng-model="address.model.wigth" min="1" class="form-control" />
                                                <span class="input-group-addon">gr</span>
                                            </div>
                                            <span ng-show="addressForm.wigth.$dirty &amp;&amp; addressForm.wigth.$error.required" class="text-danger">{{ "address.form.validation.WEIGHT_REQUIRED" | translate }}</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.VOLUMEN" | translate }}</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="number" name="volume" required="required" ng-model="address.model.volume" min="1" class="form-control" />
                                                <span class="input-group-addon">cm3</span>
                                            </div>
                                            <span ng-show="addressForm.volume.$dirty &amp;&amp; addressForm.volume.$error.required" class="text-danger">{{ "address.form.validation.VOLUME_REQUIRED" | translate }}</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.RECIPIENT_GUIDE" | translate }}</label>
                                        <div class="col-md-6">
                                            <input type="text" name="recipientGuide" required="required" ng-model="address.model.recipientGuide" ng-minlength="2" class="form-control" />
                                            <span ng-show="addressForm.recipientGuide.$dirty &amp;&amp; addressForm.recipientGuide.$error.required" class="text-danger">{{ "address.form.validation.RECIPIENT_GUIDE_REQUIRED" | translate }}</span>
                                            <span ng-show="addressForm.recipientGuide.$dirty &amp;&amp; addressForm.recipientGuide.$error.minlength" class="text-danger">{{ "address.form.validation.RECIPIENT_GUIDE_LENGTH" | translate }}</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.ALIAS" | translate }}</label>
                                        <div class="col-md-6">
                                            <input type="text" name="alias" ng-model="address.model.alias" class="form-control" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.ZONE" | translate }}</label>
                                        <div class="col-md-6">
                                            <select chosen="" name="zone" required="required" ng-model="address.model.zone" width="'100%'" class="chosen-select input-md">
                                                <option value=""></option>
                                                <option value="1">Nulla facilisi. Quisque in sapien et neque sodales facilisis. Proin a porta turpis.</option>
                                                <option value="2">New York Giants</option>
                                                <option value="3">Philadelphia Eagles</option>
                                                <option value="4">Washington Redskins</option>
                                            </select>
                                            <span ng-show="addressForm.zone.$dirty &amp;&amp; addressForm.zone.$error.required" class="text-danger">{{ "address.form.validation.ZONE_REQUIRED" | translate }}</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.OBSERVATIONS" | translate }}</label>
                                        <div class="col-md-6">
                                            <textarea name="observations" ng-model="address.model.observations" rows="4" placeholder="..." class="form-control"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">{{ "address.form.label.DELIVERY_TIME" | translate }}</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <timepicker name="deliveryTime" ng-model="address.model.deliveryTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="row text-center">
                                <button ng-click="submitForm()" class="btn btn-labeled btn-success">
                                    <span class="btn-label"><i class="fa fa-check"></i>
                                    </span>{{ "address.form.button.ACEPT" | translate }}</button>
                                <button type="button" ng-click="address.cancel()" class="btn btn-labeled btn-danger">
                                    <span class="btn-label"><i class="fa fa-times"></i>
                                    </span>{{ "address.form.button.CANCEL" | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>