<div class="panel col-lg-12 clearfix pb">
    <div class="panel-heading">
        <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
                <span class="input-group-addon input-sm">
                    <em class="icon-magnifier"></em>
                </span>
                <input type="text" ng-change="Routes.filter()" ng-model="Routes.filterText" class="form-control input-sm" />
            </div>
            <label class="col-sm-1 control-label text-right">{{ 'routes.LABEL.journey' | translate }}</label>
            <div class="col-sm-3">
                <div class="input-group">
                    <select ng-model="journeys.current" ng-options="journey.name for journey in journeys.data" class="form-control input-sm"></select>
                    <span tooltip="{{ 'routes.LINKS.ADD_JOURNEY' | translate }}" tooltip-placement="bottom" ng-click="journeys.add()" class="input-group-addon input-sm btn-primary">
                        <em class="icon-plus"></em>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body p0">
        <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
                <tbody>
                    <td colspan="2" ng-show="Routes.loading" class="height-lg">
                        <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                        </p>
                        <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                    </td>
                    <td colspan="2" ng-show="Routes.noData" class="height-lg">
                        <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                    </td>
                    <tr ng-repeat="item in Routes.data" ng-class="{true: 'active'}[item.check]">
                        <td>
                            <div class="ph">{{ item.name }}
                                <p class="text-muted">{{ item.packages.length }} {{ 'routes.TABLE_TITLE.address' | translate }}</p>
                            </div>
                        </td>
                        <td ng-show="journeys.current.routeRestrictionType !== 'FIXED_ROUTES'">
                            <div class="ph">
                                <p class="text-muted mb-sm">{{ 'routes.TABLE_TITLE.weightUsed' | translate }} :{{ item.weightUsed/1000 }} Km.</p>
                                <p class="text-muted mb-sm">{{ 'routes.TABLE_TITLE.volumeUsed' | translate }} :{{ item.volumeUsed/1000000 }} m3.</p>
                            </div>
                        </td>
                        <td>
                            <div class="ph m0 text-muted visible-inline pull-right">
                                <em tooltip="{{ 'routes.LINKS.ADD_SERVICE' | translate }}" tooltip-placement="bottom" ng-click="Routes.addService(item)" class="icon-screen-smartphone mr"></em>
                                <em tooltip="{{ 'routes.LINKS.INFO_ROUTE' | translate }}" tooltip-placement="bottom" ng-click="Routes.info(item)" class="icon-info mr"></em>
                                <!--em.icon-share.mr(tooltip="{{ 'routes.LINKS.SHARE' | translate }}", tooltip-placement='bottom', ng-click='Routes.share(item)')-->
                                <em tooltip="{{ 'routes.LINKS.MAP' | translate }}" tooltip-placement="bottom" ng-click="Routes.goToMap(item)" class="icon-map mr"></em>
                                <em tooltip="{{ 'routes.LINKS.LIST_VIEW' | translate }}" tooltip-placement="bottom" ng-click="Routes.listVists(item)" class="icon-list mr"></em>
                                <em tooltip="{{ 'app.EXPORT_TO_PDF' | translate }}" tooltip-placement="bottom" ng-click="Routes.exportPDf(item)" class="fa fa-file-pdf-o mr"></em>
                                <em tooltip="{{ 'app.EXPORT_TO_XLSX' | translate }}" tooltip-placement="bottom" ng-click="Routes.exportXLSX(item)" class="fa fa-file-excel-o mr"></em>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div ng-hide="Routes.paginations.numPages == 1" class="col-lg-12">
                <pagination total-items="Routes.paginations.totalItems" ng-model="Routes.paginations.currentPage" max-size="Routes.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="Routes.paginations.itemsPerPage" previous-text="‹"
                next-text="›" num-pages="Routes.paginations.numPages" ng-change="Routes.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
            </div>
        </div>
    </div>
</div>