<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="lead mt-sm mb-sm">DETALLE DE LA RUTA<a ng-click="routeDetail.goToBack()" class="btn btn-sm btn-danger pull-right">Regresar</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-2">Nombre</label>
                    <div class="col-sm-6">{{ routeDetail.model.name }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Fecha de Salida</label>
                    <div class="col-sm-6">{{ routeDetail.model.date }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Distancia recorrida</label>
                    <div class="col-sm-6">{{ routeDetail.model.distance }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Tiempo estimado</label>
                    <div class="col-sm-6">{{ routeDetail.model.estimatedTime }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Clientes atentidos</label>
                    <div class="col-sm-6">{{ routeDetail.model.numVisits }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Prom. Tiempo Visita</label>
                    <div class="col-sm-6">{{ routeDetail.model.avgTimeVisit }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Hora Salida</label>
                    <div class="col-sm-6">{{ routeDetail.model.initTime }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Hora finalizacion</label>
                    <div class="col-sm-6">{{ routeDetail.model.finalTime }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Peso Usado</label>
                    <div class="col-sm-6">{{ routeDetail.model.weightUse }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Volumen Usado</label>
                    <div class="col-sm-6">{{ routeDetail.model.volumeUse }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-2">Gasolina</label>
                    <div class="col-sm-6">{{ routeDetail.model.cost }} Gal.</div>
                </div>
            </div>
        </div>
    </div>
</div>