<div class="panel col-lg-12 clearfix pb">
    <div class="panel-heading">
        <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
                <span class="input-group-addon input-sm">
                    <em class="icon-magnifier"></em>
                </span>
                <input type="text" ng-change="drivers.filter()" ng-model="drivers.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
                <div class="pull-right">
                    <button type="button" ng-click="drivers.add()" class="btn btn-sm btn-primary">
                        <span>
                            <em class="icon-plus"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                    </button>
                    <!--button.btn.btn-sm.btn-default(type='button' ng-click='drivers.selectAll()')span: em.text-primary.icon-check
span.hidden-xs {{ 'app.SELECT' | translate }}-->
                    <!--button.btn.btn-sm.btn-default(type='button' ng-click='drivers.remove()')span: em.text-danger.icon-trash
span.hidden-xs  {{ 'app.DELETE' | translate }}-->
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body p0">
        <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
                <thead>
                    <tr>
                        <th>{{ 'drivers.label.firstName' | translate }}</th>
                        <th>{{ 'drivers.label.lastName' | translate }}</th>
                        <th>{{ 'drivers.label.login' | translate }}</th>
                        <th>{{ 'drivers.label.licenceNumber' | translate }}</th>
                        <th>{{ 'drivers.label.identificationNumber' | translate }}</th>
                        <th>{{ 'drivers.label.phoneNumber' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <td colspan="5" ng-show="drivers.loading" class="height-lg">
                        <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                        </p>
                        <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                    </td>
                    <td colspan="5" ng-show="drivers.noData" class="height-lg">
                        <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                    </td>
                    <tr ng-repeat="item in drivers.data" ng-class="{true: 'active'}[item.check]">
                        <!--td.wd-xxs.checkbox.c-checkbox.m0
  label
    input(type='checkbox',ng-model='item.check')
    span.fa.fa-check-->
                        <td>{{ item.user.firstName }}</td>
                        <td>{{ item.user.lastName }}</td>
                        <td>{{ item.user.login }}</td>
                        <td>{{ item.licenceNumber }}</td>
                        <td>{{ item.identificationNumber }}</td>
                        <td>{{ item.phoneNumber }}</td>
                        <td class="wd-sm">
                            <div class="ph m0 text-muted visible-inline pull-right">
                                <em tooltip="{{ 'drivers.LINKS.EDIT' | translate }}" tooltip-placement="bottom" ng-click="drivers.edit(item)" class="icon-pencil mr"></em>
                                <!--em.icon-trash.mr(tooltip="{{ 'drivers.LINKS.DELETE' | translate }}", tooltip-placement='bottom', ng-click='drivers.removeItem(item)')-->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div ng-hide="drivers.paginations.numPages == 1" class="col-lg-12">
                <pagination total-items="drivers.paginations.totalItems" ng-model="drivers.paginations.currentPage" max-size="drivers.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="drivers.paginations.itemsPerPage" previous-text="‹"
                next-text="›" num-pages="drivers.paginations.numPages" ng-change="drivers.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
            </div>
        </div>
    </div>
</div>