<div class="content-fluid">
   <div class="row">
      <div class="col-sm-12 col-md-12">
         <div class="panel panel-primary">
            <div class="panel-heading">==Informacion del lugar o sede==</div>
            <div class="panel-body">
               <form class="form-horizontal">
                  <fieldset>
                     <div class="form-group">
                        <label for="input-id-1" class="col-md-2 control-label">==Nombre==</label>
                        <div class="col-md-6">
                           <input id="input-id-1" type="text" class="form-control" />
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label for="input-id-1" class="col-md-2 control-label">==Direccion==</label>
                        <div class="col-md-6">
                           <input id="input-id-1" type="text" class="form-control" />
                        </div>
                        <div class="col-md-4">
                           <button type="button" class="btn btn-primary">
                              <span class="icon-pencil"></span>
                           </button>
                           <button type="button" class="btn btn-success">
                              <span class="icon-map"></span>
                           </button>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label for="input-id-1" class="col-md-2 control-label">==Telefono==</label>
                        <div class="col-md-6">
                           <input id="input-id-1" type="text" class="form-control" />
                        </div>
                     </div>
                  </fieldset>
               </form>
            </div>
            <div class="panel-footer">
               <div class="row text-center">
                  <button type="button" class="btn btn-labeled btn-success">
                     <span class="btn-label"><i class="fa fa-check"></i>
                     </span>Aceptar</button>
                  <button type="button" class="btn btn-labeled btn-danger">
                     <span class="btn-label"><i class="fa fa-times"></i>
                     </span>Cancelar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>