<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="lead m-sm">DETALLE DEL TRAYECTO</h3>
            </div>
            <div class="panel-body">
                <div class="row"></div>
                <label class="col-sm-3">Nombre</label>
                <div class="col-sm-4">{{ journey.model.name }}</div>
                <div class="row"></div>
                <label class="col-sm-3">Fecha salida de itinerarios</label>
                <div class="col-sm-4">{{ journey.model.date }}</div>
                <div class="row"></div>
                <label class="col-sm-3">Número total de rutas</label>
                <div class="col-sm-4">{{ journey.model.countRoutes }}</div>
                <div class="row"></div>
                <label class="col-sm-3">Número clientes atendidos</label>
                <div class="col-sm-4">0</div>
                <div class="row"></div>
                <label class="col-sm-3">Número clientes sin atender</label>
                <div class="col-sm-4">0</div>
                <div class="row"></div>
                <label class="col-sm-3">Lugar de salida</label>
                <div class="col-sm-4">{{ journey.model.place.address }}</div>
            </div>
        </div>
    </div>
</div>