<div class="panel col-lg-12 clearfix pb">
    <div class="panel-heading">
        <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
                <span class="input-group-addon input-sm">
                    <em class="icon-magnifier"></em>
                </span>
                <input type="text" ng-change="journeys.filter()" ng-model="journeys.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
                <div class="pull-right">
                    <button type="button" ng-click="journeys.add()" class="btn btn-sm btn-primary">
                        <span>
                            <em class="icon-plus"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                    </button>
                    <button type="button" ng-click="journeys.selectAll()" class="btn btn-sm btn-default">
                        <span>
                            <em class="text-primary icon-check"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.SELECT' | translate }}</span>
                    </button>
                    <button type="button" ng-click="journeys.remove()" class="btn btn-sm btn-default">
                        <span>
                            <em class="text-danger icon-trash"></em>
                        </span>
                        <span class="hidden-xs">{{ 'app.DELETE' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body p0">
        <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
                <tbody>
                    <td colspan="1" ng-show="journeys.loading" class="height-lg">
                        <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                        </p>
                        <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                    </td>
                    <td colspan="1" ng-show="journeys.noData" class="height-lg">
                        <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                    </td>
                    <tr ng-repeat="item in journeys.data" ng-class="{true: 'active'}[item.check]">
                        <td class="wd-xxs">
                            <div class="checkbox c-checkbox m0">
                                <label>
                                    <input type="checkbox" ng-model="item.check" />
                                    <span class="fa fa-check"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="ph">
                                <h4 class="media-box-heading">{{item.name}}</h4>
                                <small class="text-muted">{{ 'journeys.TABLE_TITLE.routes' | translate }} : {{item.countRoutes}}</small>
                                <br/>
                                <small class="text-muted">{{ 'journeys.TABLE_TITLE.servedClients' | translate }} : 0</small>
                            </div>
                        </td>
                        <td class="wd-md">
                            <div class="ph m0 text-muted visible-inline pull-right">
                                <em tooltip="{{ 'journey.LINKS.DETAIL' | translate }}" tooltip-placement="bottom" ng-click="journeys.goToDetail(item)" class="icon-info mr"></em>
                                <!--em.fa.fa-bar-chart.mr( tooltip="{{ 'journeys.LINKS.CHART' | translate }}", tooltip-placement='bottom', ng-click='journeys.goToChart(item)')-->
                                <!--em.icon-share.mr( tooltip="{{ 'journeys.LINKS.SHARE' | translate }}", tooltip-placement='bottom', ng-click='journeys.share(item)')-->
                                <em tooltip="{{ 'journeys.LINKS.MAP' | translate }}" tooltip-placement="bottom" ng-click="journeys.goToMap(item)" class="icon-map mr"></em>
                                <em tooltip="{{ 'journeys.LINKS.ROUTE' | translate }}" tooltip-placement="bottom" ng-click="journeys.goToRoute(item)" class="fa fa-list mr"></em>
                                <em tooltip="{{ 'app.EXPORT_TO_PDF' | translate }}" tooltip-placement="bottom" ng-click="journeys.exportPDf(item)" class="fa fa-file-pdf-o mr"></em>
                                <em tooltip="{{ 'app.EXPORT_TO_XLSX' | translate }}" tooltip-placement="bottom" ng-click="journeys.exportXLSX(item)" class="fa fa-file-excel-o mr"></em>
                                <em tooltip="{{ 'journeys.LINKS.DELETE' | translate }}" tooltip-placement="bottom" ng-click="journeys.removeItem(item)" class="icon-trash mr"></em>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div ng-hide="journeys.paginations.numPages == 1" class="col-lg-12">
                <pagination total-items="journeys.paginations.totalItems" ng-model="journeys.paginations.currentPage" max-size="journeys.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="journeys.paginations.itemsPerPage" previous-text="‹"
                next-text="›" num-pages="journeys.paginations.numPages" ng-change="journeys.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
            </div>
        </div>
    </div>
</div>