<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="lead mb-sm mt-sm text-md">¿Cómo crear un archivo de direcciones para rutas?<a ng-click="journey.goToBack()" class="btn btn-sm btn-danger pull-right">Regresar</a>
        </h3>
    </div>
    <div class="panel-body">
        <form form-wizard="" steps="5" novalidate="" ng-submit="alertSubmit()">
            <div class="form-wizard wizard-horizontal">
                <!-- START wizard steps indicator-->
                <ol class="row">
                    <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-2 col-md-offset-1 p-sm">
                        <p class="text-center lead mb-sm">
                            <span class="fa fa-download mr-lg"></span>Descargar</p>
                    </li>
                    <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-2 p-sm">
                        <p class="text-center lead mb-sm">
                            <span class="fa fa-folder-open mr-lg"></span>Abrir</p>
                    </li>
                    <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-2 p-sm">
                        <p class="text-center lead mb-sm">
                            <span class="fa fa-pencil-square mr-lg"></span>Editar</p>
                    </li>
                    <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-2 p-sm">
                        <p class="text-center lead mb-sm">
                            <span class="fa fa-floppy-o mr-lg"></span>Guardar</p>
                    </li>
                    <li ng-class="{'active':wizard.active(5)}" ng-click="wizard.go(5)" class="col-md-2 p-sm">
                        <p class="text-center lead mb-sm">
                            <span class="fa fa-check-circle mr-lg"></span>Verificar</p>
                    </li>
                </ol>
                <!-- END wizard steps indicator-->
                <!-- START Wizard Step inputs -->
                <div ng-show="wizard.active(1)">
                    <p class="text-center lead pt-lg">
                        <span><a>CLIC AQUÍ</a>
                        </span>Para descargar el archivo de ejemplo</p>
                    <p class="lead p-lg">Nota: los campos <b>"DIRECCIONES" </b>y <b> "CIUDAD" </b>deben estar digenciados, estos son importantes para el calculo de rutas inteligentes</p>
                    <ul class="pager">
                        <li class="next"><a href="#" ng-click="wizard.go(2)">Siguiente <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <div ng-show="wizard.active(2)">
                    <p class="lead pt-lg">Abra el archivo descargado con Oficce Microsoft
                        <img src="app/img/loadFile/excel-icon.png" class="ml-xs mr-lg" />ó OpenOficce Calc
                        <img src="app/img/loadFile/openOffice-icon.png" class="ml-xs mr-lg" />y familiarice con los campo que allí aparecen.</p>
                    <img src="app/img/loadFile/newFormat.png" class="col-md-12 mb-xl" />
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(1)">
                                <span>&larr; Anterior</span>
                            </a>
                        </li>
                        <li class="next"><a href="#" ng-click="wizard.go(3)">Siguiente <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div ng-show="wizard.active(3)">
                    <p class="lead pt-lg">Si sus datos poseen coordenadas Longitud; Latitud asociadas a las direcciones por favor diligencie estos datos en las columnas ("Longitud") y ("Latitud") respectivamente y deje como separador decimal el punto(.) Véase la siguiente
                        imagen
                        <!-- END row -->
                    </p>
                    <div class="row">
                        <img src="app/img/loadFile/coordenates.png" class="col-md-6 col-md-offset-3 mb-xl" />
                    </div>
                    <p class="lead"> <b>NOTA:</b>Sí no tiene estos datos por favor elimine estas columnas del formato original.</p>
                    <p class="lead pt-lg">Diligencie el formato de direcciones de tal forma que sea vea como la imagen siguiente
                        <img src="app/img/loadFile/PrintScreenFormat.png" class="col-md-12 mt-xl mb-xl" />
                    </p>
                    <p class="lead pt-lg">ó formato diligenciado sin columnas <b>"Longitud"</b>; <b>"Latitud".            </b>
                        <img src="app/img/loadFile/PrintScreenFormat_sinxy.png" class="col-md-12 mt-xl mb-xl" />
                    </p>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(2)">
                                <span>&larr; Anterior</span>
                            </a>
                        </li>
                        <li class="next"><a href="#" ng-click="wizard.go(4)">Siguiente <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div ng-show="wizard.active(4)">
                    <p class="lead pt-lg">Ahora guarde el archivo, si desea guardarlo con otro nombre vaya al menu: ArchivoGuardar como, e indique como formato extensión(tipo) csv (del inglés commaseparated values).</p>
                    <div class="row">
                        <img src="app/img/loadFile/saveasCSV.png" class="col-md-8 col-md-offset-2 mt-xl mb-xl" />
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(3)">
                                <span>&larr; Anterior</span>
                            </a>
                        </li>
                        <li class="next"><a href="#" ng-click="wizard.go(5)">Siguiente <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div ng-show="wizard.active(5)">
                    <p class="lead pt-lg">Para verificar que el archivo ha sido diligenciado de manera correcta abra el archivo en bloc de notas o el programa Notepad++
                        <img src="app/img/loadFile/notepad.png" class="ml-xs mr-lg" />para confirmar su estructura y constatar que no contiene ningun salto de linea vacio, vea la siguiente imagen</p>
                    <div class="row">
                        <img src="app/img/loadFile/csv_notepad.png" class="col-md-8 col-md-offset-2 mt-xl mb-xl" />
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(4)">
                                <span>&larr; Anterior</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
            </div>
        </form>
    </div>
</div>
<!-- END panel -->