<div class="row">
    <div class="col-lg-6">
        <div id="panelChart2" class="panel panel-default">
            <div class="panel-heading">
                <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                <div class="panel-title">Journey Chart 1</div>
            </div>
            <div collapse="panelChart2" class="panel-wrapper">
                <div class="panel-body">
                    <flot dataset="barData" options="barOptions" height="300px"></flot>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="panelChart3" class="panel panel-default">
            <div class="panel-heading">
                <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                <div class="panel-title">Journey Chart 2</div>
            </div>
            <div collapse="panelChart3" class="panel-wrapper">
                <div class="panel-body">
                    <div class="indicator show">
                        <span class="spinner"></span>
                    </div>
                    <flot dataset="barStackeData" options="barStackedOptions" height="300px"></flot>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END row-->